html {
    font-size: .625rem;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: $c-dark-main;
}

div {
    -webkit-tap-highlight-color: transparent;
}

.container {
    min-height: 100vh;
    padding: 1rem 0 8rem;
}