html {
    font-size: .625rem;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: $c-dark-main;
}

div {
    -webkit-tap-highlight-color: transparent;
}

#ui {
    .value-element {
        position: absolute;
        top: 2rem;
        right: 2rem;
    
        color: $c-easy;
        font-size: 5rem;
        font-weight: 700;

        transition: all .1s;
        &.easy {
            color: $c-easy;
        }
        &.normal {
            color: $c-normal;
        }
        &.hard {
            color: $c-hard;
        }
    }
    .question-element {
        position: absolute;
        top: 2rem;
        left: 2rem;
        
        color: $c-ok;
        font-size: 5rem;
        font-weight: 700;
        transition: all .1s;
    }
    @media screen and (min-width: 576px) {
        .value-element {
            top: 4rem;
            right: 6rem;
        }
        .question-element {
            top: 4rem;
            left: 6rem;
        }
    }
}

.container {
    min-height: 100vh;
    padding: 1rem 0;
    &.home {
        align-content: flex-start;
    }
}