$c-bg: #D2D3C9;

$c-light-main: #fafaff;
$c-dark-main: #262626;

$c-card-bg: #0E918C;
$c-card-color: #97c0bd;

$c-shadow-dark: #00000048;
$c-shadow-light: #ffffff48;

$c-easy: #93B5C6;
$c-normal: #FFC947;
$c-hard: #F14668;

$c-ok: #4AA96C;